body{
    background-color: rgb(67, 48, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15%;
    padding: 5px 0;
    margin-top: auto
}
.bolder{
    border: 2px solid rgb(67, 48, 136);
    border-radius: 5px;

}
.bloco_info{
    background: rgb(67, 48, 136);
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.bloco_imag{
    background: rgb(67, 48, 136);
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
img{
    box-shadow: 15px 15px rgb(42, 29, 90);
}

.escolha{
    border-radius: 1px;
    font-size: 30px;
    justify-content: center;
    display: flex;
}
.botao{
    color: rgb(182, 8, 8);
}