<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mudança de humor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% if botao  %}
    <div class="border">
        <div class="bloco_info"><b>Personagem:</b>{{nome}}</div>
        <div class="bloco_info"><b>Humor: <i>{{humor}}</i></b></div>
            <div class="bloco_imag">
                <img src="{{gif}}" alt="gif da ravena dançando">
            </div>
            <div class="escolha">
                <a href="/chateada" class="botao">Avançar</a>
            </div>
            {% if escolha %}
            <div class="escolha">
                <a href="/chateada" class="botao">Avançar</a>
            </div>
            {% else %}
            <div class="escolha">
                <a href="/" class="botao">Voltar</a>
            </div>
            {% endif %}
    </div>
    {% endif %}
</body>
</html>